body {
 
    background: hsla(170, 26%, 73%, 1);

    background: linear-gradient(0deg, hsla(170, 26%, 73%, 1) 0%, hsla(6, 93%, 71%, 1) 100%);
    
    background: -moz-linear-gradient(0deg, hsla(170, 26%, 73%, 1) 0%, hsla(6, 93%, 71%, 1) 100%);
    
    background: -webkit-linear-gradient(0deg, hsla(170, 26%, 73%, 1) 0%, hsla(6, 93%, 71%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A8CCC6", endColorstr="#FA8072", GradientType=1 );


    font-family: "Open Sans"
}

h1 {

color:white;
font-family: "Open Sans";
text-align: center;
width:50%;
margin-left: auto;
margin-right: auto;
font-size: 6rem;

}

.logo {
    margin-left: auto;
    margin-right:auto;
    width:50%;
    justify-content: center;


   

}
.button-container{

display:flex;
flex-direction: column;
padding-top: 70px;
align-items: center;


}

.button {
    display:flex;
color:salmon;
justify-content: center;
padding:10px;
margin-left: auto;
margin-right: auto;
}

button {
    border-color: white;
    font-size: 2rem;
    background-color: #20a088;
    width:450px;
    height:75px;
    color:white;
    border-radius:50px;
    border-style: none;
    font-family:"Open Sans"


    
}

.social-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    padding:20px;

}

.social {

    justify-content: center;
    display: flex;
    width:50%;
    margin-left: auto;
    margin-right: auto;

 
   
}